@use './variables.scss';

body {
  font-family: variables.$font-family;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$background-text-color;
  background-color: variables.$background-color;
}
