<div class="d-flex align-items-center mb-3">
	<button class="btn btn-outline-primary" (click)="toggleFilter()">
		<i class="bi bi-funnel"></i> Lọc
	</button>

	<button class="btn btn-primary ms-2" (click)="openCreateCoupon()">
		<i class="bi bi-plus"></i> Thêm mã giảm giá
	</button>
</div>

<app-generic-filter
	*ngIf="showFilter"
	[fields]="fields"
	(filterChanged)="onFilterChanged($event)"
/>

<div class="table-responsive">
	<table class="table table-striped table-bordered text-center">
		<thead class="table-dark">
			<tr>
				<th>#</th>
				<th>Mã</th>
				<th>Chiết khấu</th>
				<th>Mô tả</th>
				<th>Giới hạn người dùng</th>
				<th>Ngày tạo</th>
				<th>Ngày hết hạn</th>
				<th>Trạng thái</th>
				<th>Giảm giá theo</th>
				<th>Điều kiện giá</th>
				<th>Giá tối thiểu</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let coupon of coupons; index as i" [id]="coupon.id">
				<td>{{ i + 1 }}</td>
				<td>{{ coupon.code }}</td>
				<td>{{ coupon.discount }}</td>
				<td>{{ coupon.description }}</td>
				<td>{{ coupon.limitUsers }}</td>
				<td>{{ coupon.createdAt | date: 'dd/MM/yyyy' }}</td>
				<td>{{ coupon.expirationDate | date: 'dd/MM/yyyy' }}</td>
				<td>
					<span
						class="badge"
						[ngClass]="{
							'bg-success': coupon.status === 'ACTIVE',
							'bg-warning': coupon.status === 'INACTIVE',
							'bg-danger': coupon.status === 'DELETED',
						}"
					>
						{{ this.utility.mapStatusToVietnamese(coupon.status) }}
					</span>
				</td>
				<td>{{ this.utility.mapCouponTypeToVietnamese(coupon.type) }}</td>
				<td>{{ coupon.priceCondition | number: '1.0-0' }}</td>
				<td>{{ coupon.minPrice | number: '1.0-0' }}</td>
        <td>
				<!-- Nút sửa -->
				<button
					class="btn btn-sm btn-warning me-1"
					(click)="openEditCoupon(coupon)"
				>
					<i class="bi bi-pencil-square"></i>
				</button>

				<!-- Nút xóa -->
				<button
					class="btn btn-sm btn-danger"
					(click)="confirmDeleteCoupon(coupon.id)"
				>
					<i class="bi bi-trash"></i>
				</button>
			</td>

			</tr>
      <tr *ngIf="coupons.length === 0">
			<td colspan="12" class="text-muted">Không có mã giảm giá nào.</td>
		</tr>
		</tbody>
	</table>
</div>

<app-pagination
	[currentPage]="currentPage"
	[totalPages]="totalPages"
	(pageChange)="onPageChange($event)"
/>
