<footer
	class="text-muted text-white pt-5 pb-4 border-top border-secondary"
>
	<div class="container">
		<div class="row">
			<!-- Logo & Description -->
			<div class="col-lg-3 col-md-6 mb-4">
				<a href="{{ RouteLink.homeRoute }}">
					<img [src]="logo" alt="#" width="30" height="35" class="mb-3" />
				</a>
				<p class="small text-white">
					{{ Label.description }}
				</p>
				<p class="small fw-semibold text-white">
					{{ Label.callUs }}<br />
					<span class="text-warning fs-5">
						<p class="text-warning text-decoration-none">
							{{ Label.hotLinePhoneNum }}
						</p>
					</span>
				</p>
			</div>

			<!-- Information Links -->
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="fw-semibold mb-3 text-white">{{ Label.information }}</h5>
				<ul class="list-unstyled">
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.aboutUs }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.faqs }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.termAndCondition }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.contactUs }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.help }}</a
						>
					</li>
				</ul>
			</div>

			<!-- Customer Service Links -->
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="fw-semibold mb-3 text-white">{{ Label.customerService }}</h5>
				<ul class="list-unstyled">
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.paymentMethods }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.moneyBack }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.return }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.shipping }}</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-white text-decoration-none d-block mb-2 hover-link"
							>{{ Label.privacyPolicy }}</a
						>
					</li>
				</ul>
			</div>

			<!-- Contact & Social -->
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="fw-semibold mb-3 text-white">{{ Label.getInTouch }}</h5>
				<ul class="list-unstyled small mb-3 text-white">
					<li>{{ Label.numberAndStreet }}</li>
					<li>{{ Label.cityAndCountry }}</li>
					<li>{{ Label.email }}</li>
					<li>{{ Label.organizationPhoneNumber }}</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
