<div class="container my-4 min-vh-100" *ngIf="orders">
	<h2 class="mb-4 text-center">Đơn hàng hiện tại</h2>

	<div *ngIf="orders.length === 0">
		<p class="text-center">đơn hàng dang trống</p>
	</div>

	<div
		*ngFor="let order of orders"
		class="order-card mb-4 p-3 shadow-sm border rounded"
	>
		<div class="d-flex justify-content-between align-items-center mb-2">
			<div><strong>Mã đơn hàng:</strong> #{{ order.id }}</div>
			<div>
				<span class="badge bg-primary text-uppercase">
					{{ getStatusLabel(order.status) }}
				</span>
				<span class="badge bg-dark text-uppercase mx-5">
					{{ getStatusPayment(order.paymentStatus) }}
				</span>
			</div>
		</div>

		<div
			*ngFor="let item of order.orderItems"
			class="d-flex mb-2"
			[routerLink]="['/order-detail', order.id]"
		>
			<img
				[src]="item.productImage"
				class="product-img me-3"
				alt="ảnh sản phẩm"
			/>
			<div class="flex-grow-1">
				<div class="fw-semibold">{{ item.productName }}</div>
				<div>Số lượng: {{ item.quantity }}</div>
			</div>
			<div class="text-end fw-semibold">
				{{ item.price || 0 | currency: 'VND' : 'symbol' : '1.0-0' : 'vi' }}
			</div>
		</div>

		<div
			class="d-flex justify-content-end align-items-center flex-wrap gap-3 border-top pt-2 mt-2 small"
		>
			<div *ngIf="order.coupon">
				<span class="text-muted">Đã áp dụng mã: </span>
				<strong>{{ order.coupon.code }}</strong>
			</div>
			<div>
				Tổng giá:
				{{
					order.totalPrice || 0 | currency: 'VND' : 'symbol' : '1.0-0' : 'vi'
				}}
			</div>

			<div class="text-danger fw-bold">
				Thanh toán:
				{{
					order.discountedPrice || 0
						| currency: 'VND' : 'symbol' : '1.0-0' : 'vi'
				}}
			</div>
		</div>

		<div
			class="d-flex justify-content-end mt-3"
			*ngIf="order.paymentStatus !== PaymentStatus.PAID"
		>
			<button
				class="btn btn-outline-danger btn-sm me-2"
				(click)="cancelOrder(order.id)"
			>
				Hủy đơn
			</button>
			<button
				class="btn btn-success btn-sm"
				(click)="payOrder(order.id)"
			>
				Thanh toán
			</button>
		</div>
	</div>
</div>
