<div class="container custom-container my-5 vh-100">
	<h2 class="mb-4">Hoá đơn</h2>

	<div *ngIf="cartItems.length === 0" class="alert alert-warning">
		Không có sản phẩm nào trong đơn hàng.
	</div>

	<div *ngIf="cartItems.length > 0">
		<div
			*ngFor="let item of cartItems"
			class="row mb-3 align-items-center border-bottom pb-3"
		>
			<div class="col-auto">
				<img
					[src]="item.productImg"
					alt="{{ item.name }}"
					class="cart-img img-fluid rounded"
				/>
			</div>

			<div class="col">
				<div class="d-flex justify-content-between align-items-start">
					<!-- Thông tin sản phẩm -->
					<div class="me-3 pe-2">
						<h5 class="mb-2">{{ item.name }}</h5>
						<p class="mb-0">Số lượng: {{ item.quantity }}</p>
						<p class="mb-0">Giá: {{ item.price | currency: 'VND' }}</p>
					</div>

					<!-- Tổng giá từng sản phẩm -->
					<div class="text-end">
						<strong>{{ item.quantity * item.price | currency: 'VND' }}</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="text-end mt-4">
			<h4 class="mb-3">Tổng cộng: {{ total | currency: 'VND' }}</h4>
			<button
				class="btn primary-color-button btn-lg"
				(click)="confirmOrder()"
				(pointerdown)="onPress(999)"
				(pointerup)="onRelease(999)"
				(touchstart)="onPress(999)"
				(touchend)="onRelease(999)"
				[class.pressed]="buttonStates[999]"
			>
				Xác nhận thanh toán
			</button>
		</div>
	</div>
</div>
