<form class="row" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
	<div class="col-xl-9">
		<!-- Account details card-->
		<div class="card mb-4">
			<div class="card-header">{{ label.changePassword }}</div>
			<div class="card-body">
				<div class="mb-3">
					<label class="small mb-1" for="inputEmailAddress">{{
						label.email
					}}</label>
					<input
						class="form-control"
						id="inputEmailAddress"
						type="email"
						formControlName="email"
					/>
					<div *ngIf="showEmailErrors" class="small text-danger ps-3">
						<div *ngIf="isEmailRequired">
							{{ errorMessage.emailIsNotEmpty }}
						</div>
						<div *ngIf="isEmailInvalid">
							{{ errorMessage.emailIsNotValid }}
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="small mb-1" for="inputOldPassword">{{
						label.password
					}}</label>
					<input
						class="form-control"
						id="inputOldPassword"
						type="password"
						formControlName="oldPassword"
					/>
					<div *ngIf="isOldPasswordInvalid" class="small text-danger ps-3">
            <div *ngIf="isOldPasswordRequired">
							{{ errorMessage.passwordIsNotEmpty }}
						</div>
						<div *ngIf="oldPasswordTooShort">
							{{ errorMessage.passwordHasAtLeast8Characters }}
						</div>
						<div *ngIf="oldPasswordTooLong">
							{{ errorMessage.passwordHasAtMost30Characters }}
						</div>
					</div>
				</div>
        <div class="mb-3">
					<label class="small mb-1" for="inputNewPassword">{{
						label.newPassword
					}}</label>
					<input
						class="form-control"
						id="inputNewPassword"
						type="password"
						formControlName="newPassword"
					/>
					<div *ngIf="isNewPasswordInvalid" class="small text-danger ps-3">
            <div *ngIf="isNewPasswordRequired">
							{{ errorMessage.passwordIsNotEmpty }}
						</div>
						<div *ngIf="newPasswordTooShort">
							{{ errorMessage.passwordHasAtLeast8Characters }}
						</div>
						<div *ngIf="newPasswordTooLong">
							{{ errorMessage.passwordHasAtMost30Characters }}
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="small mb-1" for="inputRetypePassword">{{
						label.retypePassword
					}}</label>
					<input
						class="form-control"
						id="inputRetypePassword"
						type="password"
						formControlName="retypePassword"
					/>
					<div
						*ngIf="isRetypePasswordRequiredInvalid"
						class="small text-danger ps-3"
					>
						{{ errorMessage.retypePasswordIsNotEmpty }}
					</div>
					<div *ngIf="showPasswordMismatch" class="small text-danger ps-3">
						{{ errorMessage.retypePasswordMustBeSame }}
					</div>
				</div>
				<!-- Save changes button-->
				<button class="btn btn-primary" type="submit">
					{{ label.changePassword }}
				</button>
			</div>
		</div>
	</div>
</form>
