<form [formGroup]="purchaseForm" (ngSubmit)="submit()" class="container mt-3">
	<div class="mb-3">
		<label class="form-label">Nhà cung cấp</label>
		<select class="form-select" formControlName="supplierId">
			<option *ngFor="let s of suppliers" [value]="s.id">{{ s.name }}</option>
		</select>
	</div>

	<div class="mb-3">
		<label class="form-label">Ngày tạo</label>
		<input
			type="datetime-local"
			class="form-control"
			formControlName="createdAt"
		/>
	</div>

	<div formArrayName="items" class="items-scroll-box">
		<div
			*ngFor="let item of items.controls; let i = index"
			[formGroupName]="i"
			class="border p-3 rounded mb-3 bg-light"
		>
			<div class="row g-3 align-items-end">
				<div class="col-md-5">
					<label class="form-label">Sản phẩm</label>
					<ng-select
						class="custom-ng-select"
						[items]="products"
						bindLabel="name"
						bindValue="id"
						[searchable]="true"
						[clearable]="true"
						[dropdownPosition]="'auto'"
						placeholder="Chọn sản phẩm"
						formControlName="productId"
					>
						<ng-template ng-option-tmp let-item="item">
							<div class="d-flex align-items-center">
								<img
									[src]="item.images[1]"
									width="40"
									height="40"
									class="me-2 rounded"
								/>
								<span>{{ item.name }}</span>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="col-md-2">
					<label class="form-label">Số lượng</label>
					<input
						type="number"
						class="form-control"
						formControlName="quantity"
					/>
				</div>

				<div class="col-md-2">
					<label class="form-label">Đơn giá</label>
					<input
						currencyMask
						[options]="{
							prefix: '',
							thousands: ',',
							suffix: ' VNĐ',
							align: 'right',
						}"
						type="text"
						class="form-control"
						formControlName="unitPrice"
					/>
				</div>

				<div class="col-md-2">
					<label class="form-label">Tổng</label>
					<p class="form-control-plaintext text-end">
						{{
							item.value.quantity * item.value.unitPrice | number: '1.0-0'
						}}
						VNĐ
					</p>
				</div>

				<div class="col-md-1 text-end">
					<button
						type="button"
						class="btn btn-danger btn-sm"
						(click)="removeItem(i)"
						*ngIf="items.length > 1"
					>
						&times;
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between mb-3">
		<button type="button" class="btn btn-outline-primary" (click)="addItem()">
			+ Thêm dòng
		</button>
		<h5>Tổng tiền: {{ totalPrice | number }} VND</h5>
	</div>

	<button
		type="submit"
		class="btn btn-success"
		[disabled]="purchaseForm.invalid"
	>
		Tạo đơn nhập
	</button>
</form>
