/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "primeicons/primeicons.css";

p-floatlabel {
  input:focus {
    border: 1px solid #cbd5e1 !important;
  }

  p-password,
  input {
    div {
      width: 100% !important;

      input {
        width: 100% !important;
      }
    }
  }
}
