<div class="h-screen flex items-start justify-center pt-10 bg-white max-w-full">
	<form
		class="bg-white border border-gray-200 drop-shadow-2xl p-10"
		[formGroup]="registerForm"
	>
		<div class="flex justify-center font-bold pb-10 text-[30px]">
			{{ Label.register }}
		</div>
		<div class="card flex justify-center flex-col w-100">
			<!-- Username -->
			<div class="flex flex-col justify-center pb-5">
				<p-floatlabel variant="on">
					<input
						pInputText
						pSize="large"
						class="w-full"
						[id]="usernameInputId"
						autocomplete="on"
						formControlName="username"
					/>
					<label [for]="usernameInputId">{{ Label.username }}</label>
				</p-floatlabel>
				<small
					class="block mt-1 text-sm text-red-500 pl-1"
					*ngIf="registerForm.get('username')?.hasError('required') &&
            registerForm.get('username')?.touched"
					>{{ ErrorMessage.pleaseEnterUsername }}
				</small>
				<small
					class="block mt-1 text-sm text-red-500 pl-1"
					*ngIf="registerForm.get('username')?.hasError('minlength') &&
            registerForm.get('username')?.touched"
					>{{ ErrorMessage.usernameHasAtLeast3Characters }}
				</small>
			</div>
			<!-- Email -->
			<div class="flex flex-col justify-center pb-5">
				<p-floatlabel variant="on">
					<input
						pInputText
						pSize="large"
						class="w-full"
						[id]="emailInputId"
						autocomplete="on"
						formControlName="email"
					/>
					<label for="emailInputId">{{ Label.email }}</label>
				</p-floatlabel>
				<small
					class="block mt-1 text-sm text-red-500 pl-1"
					*ngIf="registerForm.get('email')?.hasError('required') &&
            registerForm.get('email')?.touched"
					>{{ ErrorMessage.pleaseEnterEmail }}
				</small>
				<small
					class="block mt-1 text-sm text-red-500 pl-1"
					*ngIf="registerForm.get('email')?.hasError('email') &&
            registerForm.get('email')?.touched"
				>
					{{ ErrorMessage.emailIsNotValid }}
				</small>
			</div>
			<!-- Password -->
			<div class="flex flex-col justify-center pb-5">
				<p-floatlabel variant="on" class="w-full">
					<p-password
						size="large"
						[toggleMask]="true"
						[feedback]="false"
						inputId="password"
						formControlName="password"
					/>
					<label [for]="passwordInputId"> {{ Label.password }} </label>
				</p-floatlabel>
				<small
					class="block mt-1 text-sm text-red-500 pl-3"
					*ngIf="registerForm.get('password')?.hasError('required') &&
            registerForm.get('password')?.touched"
					>{{ ErrorMessage.pleaseEnterPassword }}
				</small>
				<small
					class="block mt-1 text-sm text-red-500 pl-3"
					*ngIf="(registerForm.get('password')?.hasError('minlength') ||
            registerForm.get('password')?.hasError('maxlength')) &&
            registerForm.get('password')?.touched"
					>{{ ErrorMessage.passwordHasAtLeast8CharactersAndSmallerThan30 }}
				</small>
			</div>
      <!-- Retype password -->
			<div class="flex flex-col justify-center">
				<p-floatlabel variant="on" class="w-full">
					<p-password
						class="w-full"
						size="large"
						[toggleMask]="true"
						[feedback]="false"
						inputId="retypePassword"
						formArrayName="retypePassword"
					/>
					<label [for]="retypePasswordInputId"
						>{{ Label.retypePassword }}</label
					>
				</p-floatlabel>
				<small
					class="block mt-1 text-sm text-red-500 pl-3"
					*ngIf="passwordMismatch &&
            registerForm.get('retypePassword')?.touched"
					>{{ ErrorMessage.retypePasswordMustBeSame }}
				</small>
			</div>
			<div class="card flex gap-4 pt-4">
				<p-button label="{{ Label.register }}" id="registerButton" />
			</div>
			<div class="card flex flex-row gap-1 pt-2">
				<p class="text-center text-sm">{{ Label.ifUHaveAnAccount }}</p>
				<a
					routerLink="/{{ RouteLink.loginRoute }}"
					class="text-center text-sm text-[#0096FF]"
				>
					{{ Label.returnToLogin }}
				</a>
			</div>
		</div>
	</form>
</div>
