<div class="container mt-3">
	<div class="card">
		<div class="card-header bg-light">
			<h5><i class="bi bi-plus-circle me-2"></i> Thêm mới sản phẩm</h5>
		</div>
		<div class="card-body">
			<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
				<div class="row g-3">
					<!-- Tên sản phẩm -->
					<div class="col-md-6">
						<label class="form-label">Tên sản phẩm *</label>
						<input type="text" class="form-control" formControlName="name" />
					</div>

					<!-- Giá -->
					<div class="col-md-6">
						<label class="form-label">Giá sản phẩm</label>
						<input type="number" class="form-control" formControlName="price" />
					</div>

					<!-- Trạng thái -->
					<div class="col-md-6">
						<label class="form-label">Trạng thái</label>
						<select class="form-select" formControlName="status">
							<option value="mở bán">mở bán</option>
							<option value="ngưng bán">Ngưng bán</option>
						</select>
					</div>

					<!-- Danh mục -->
					<div class="col-md-6">
						<label class="form-label">Danh mục</label>
						<ng-select
							class="custom-ng-select"
							[items]="categoryList"
							bindLabel="name"
							bindValue="id"
							[multiple]="true"
							placeholder="Chọn danh mục..."
							formControlName="categories"
							[searchable]="true"
							[dropdownPosition]="'auto'"
						>
						</ng-select>
					</div>

					<!-- Mô tả -->
					<div class="col-12">
						<label class="form-label">Mô tả chi tiết</label>
						<textarea
							class="form-control"
							rows="4"
							formControlName="description"
						></textarea>
					</div>

					<!-- Ảnh -->
					<div class="col-12">
						<label class="form-label">Ảnh sản phẩm</label>
						<input
							type="file"
							class="form-control"
							(change)="onImageSelected($event)"
							multiple
						/>
						<div class="mt-2 d-flex flex-wrap gap-2">
							<img
								*ngFor="let img of previewImages"
								[src]="img"
								width="80"
								height="80"
								class="rounded border"
							/>
						</div>
					</div>

					<!-- Nút -->
					<div class="col-12 text-end mt-3">
						<button
							type="submit"
							class="btn btn-success"
							[disabled]="productForm.invalid"
						>
							💾 Lưu lại
						</button>
						<button
							type="button"
							class="btn btn-secondary ms-2"
							(click)="goBack()"
						>
							↩ Quay lại
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
