<div class="container-fluid mt-3">
	<div
		class="header-fillter d-flex justify-content-between align-items-center mb-3"
	>
		<div>
			<button class="btn btn-primary me-2" [routerLink]="['../create-product']">
				+ Thêm mới
			</button>
			<!-- <button class="btn btn-danger me-2">Xóa nhiều bản ghi</button> -->
			<button class="btn btn-success">Xuất ra Excel</button>
		</div>
		<div>
			<h2>Quản Lý Sản Phẩm</h2>
		</div>
		<div class="d-flex">
			<input type="text" class="form-control me-2" placeholder="Tên sản phẩm" />
			<select class="form-select me-2">
				<option value="">Danh mục</option>
				<!-- thêm option động nếu cần -->
			</select>
			<button class="btn btn-primary">Tìm</button>
		</div>
	</div>

	<p class="fw-bold">Có tất cả {{ products.length }} sản phẩm</p>

	<div class="table-scroll table-responsive">
		<table class="table table-bordered table-hover align-middle">
			<thead class="table-light">
				<tr>
					<th>STT</th>
					<th>Ảnh</th>
					<th (click)="sortBy('name')">
						Tên sản phẩm
						<span [ngClass]="getSortIcon('name')"></span>
					</th>
					<th (click)="sortBy('price')">
						Giá
						<span [ngClass]="getSortIcon('price')"></span>
					</th>
					<th (click)="sortBy('name')">
						Giá K/M
						<span [ngClass]="getSortIcon('price')"></span>
					</th>
					<th (click)="sortBy('categories')">
						Danh mục
						<span [ngClass]="getSortIcon('categories')"></span>
					</th>
					<th>Hot</th>
					<th>Mới về</th>
					<th>Khuyến mãi</th>
					<th (click)="sortBy('status')">
						Tình trạng
						<span [ngClass]="getSortIcon('status')"></span>
					</th>
					<th></th>
					<!-- <th><input type="checkbox" /></th> -->
				</tr>
			</thead>
			<tbody class="table-group-divider table-striped">
				<tr *ngFor="let item of products; let i = index">
					<td>{{ item.id }}</td>
					<td><img [src]="item.images[0]" width="60" /></td>
					<td>{{ item.name }}</td>
					<td>{{ item.price }}</td>
					<td>{{ item.price }}</td>
					<td>{{ item.categoryIds[0] }}</td>

					<td>hot</td>
					<td>new</td>
					<td>km</td>
					<td>
						<span
							class="badge bg-success"
							*ngIf="item.status === ProductStatusType.ACTIVE"
							>Hoạt động</span
						>
						<span
							class="badge bg-secondary"
							*ngIf="item.status === ProductStatusType.INACTIVE"
							>Ngừng hoạt động</span
						>
						<span
							class="badge bg-warning"
							*ngIf="item.status === ProductStatusType.DELETED"
							>Đã xóa</span
						>
					</td>

					<td>
						<div class="dropdown">
							<button
								class="btn btn-sm btn-secondary dropdown-toggle"
								type="button"
								id="actionDropdown"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							></button>
							<ul class="dropdown-menu" aria-labelledby="actionDropdown">
								<li><button class="dropdown-item">Sửa</button></li>
								<li><button class="dropdown-item text-danger">Xóa</button></li>
							</ul>
						</div>
					</td>
					<!-- <td><input type="checkbox" /></td> -->
				</tr>
			</tbody>
		</table>
	</div>

	<!-- pagination -->
	<nav class="d-flex justify-content-end mt-3">
		<ul class="pagination pagination-sm mb-0">
			<li class="page-item" [class.disabled]="pagedProducts.page.number">
				<button
					class="page-link"
					(click)="changePage(pagedProducts.page.number - 1)"
				>
					«
				</button>
			</li>

			<li
				class="page-item"
				*ngFor="let page of getPageArray()"
				[class.active]="page === pagedProducts.page.number + 1"
			>
				<button class="page-link" (click)="changePage(page)">
					{{ page }}
				</button>
			</li>

			<li
				class="page-item"
				[class.disabled]="
					pagedProducts.page.number === pagedProducts.page.totalPages - 1
				"
			>
				<button
					class="page-link"
					(click)="changePage(pagedProducts.page.number + 1)"
				>
					»
				</button>
			</li>
		</ul>
	</nav>
</div>
