<p>
	<strong>Danh mục sản phẩm nổi bật</strong>
	<br />
  <strong>Chức năng:</strong> Hiển thị danh mục sản phẩm nổi bật
	<br />
	<strong>Ví dụ:</strong> 👗 Thời trang – 💄 Mỹ phẩm – 📱 Điện thoại Bấm vào dẫn
	tới trang danh mục lọc sản phẩm theo danh mục
	<br />
	<br />
	<strong>Chú ý:</strong> Chỉ hiển thị danh mục có sản phẩm trong đó
	<br />
	<strong>Chú ý:</strong> Không hiển thị danh mục cha, chỉ hiển thị danh mục con
	<br />
	<strong>Chú ý:</strong> Không hiển thị danh mục có sản phẩm là dịch vụ
	<br />
</p>
